# Sanity check
Checks om de kwaliteit van de database te controleren

In [8]:
import Levenshtein
import db

## Artists
Vergelijk artist namen en breng similarities in kaart

In [14]:
sql = """
    SELECT ROWID, name
    FROM Artist
"""
artists = [row for row in db.raw_sql(sql)]

while len(artists) > 0:
    first = artists[0]
    artists.remove(first)
    for row2 in artists:                                                         
        ratio = Levenshtein.ratio(first[1], row2[1])
        if ratio > 0.8:
            print("{} {} <=> {} : {}".format(first[0], first[1], row2[1], ratio))

32 Al Stewart <=> Amii Stewart : 0.8181818181818181
39 Alessi Brothers <=> Blues Brothers : 0.8275862068965517
66 André Hazes <=> André Hazes Jr. : 0.8461538461538461
239 Buena Vista Social Club <=> Coldplay & Buena Vista Social Club : 0.8070175438596492
259 Cat Stevens <=> Ray Stevens : 0.8181818181818181
391 DeBarge <=> El DeBarge : 0.8235294117647058
465 Edwin Hawkins Singers <=> Melanie & Edwin Hawkins Singers : 0.8076923076923077
595 George McCrae <=> George Michael : 0.8148148148148149
679 Herman van Keeken <=> Herman van Veen : 0.875
713 The Isley Brothers <=> The Everly Brothers : 0.8108108108108107
713 The Isley Brothers <=> The Walker Brothers : 0.8108108108108107
713 The Isley Brothers <=> The Teskey Brothers : 0.8648648648648649
740 Janet Jackson <=> Jermaine Jackson : 0.8275862068965517
740 Janet Jackson <=> Joe Jackson : 0.8333333333333334
794 John Lennon <=> John Leyton : 0.8181818181818181
811 Johnny Cash <=> Johnny Nash : 0.9090909090909091
816 Johnny Lion <=> Johnny Logan : 0.8695652173913043
855 Kane <=> Keane : 0.8888888888888888
1021 Marco Borsato <=> Marco Borsato & Do : 0.8387096774193549
1022 Marco Borsato & Ali B <=> Marco Borsato & Do : 0.8205128205128205
1079 MFSB & The Three Degrees <=> The Three Degrees : 0.8292682926829268
1165 Nielson <=> Nilsson : 0.8571428571428572
1395 Sade <=> Slade : 0.8888888888888888
1585 The Doors <=> The Motors : 0.8421052631578947
1718 Van Velzen <=> VanVelzen : 0.9473684210526316
1760 Willeke Alberti <=> Willy Alberti : 0.8571428571428572